html {
    height: 100%;
}

body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background-color: whitesmoke;
}

.modal-container, .modal-body {
    max-height: none !important;
}

.display-hide {
    display: none;
}

.opacity-hide {
    opacity: 0;
}

a {
    cursor: pointer;
}
