.autocomplete-container {
    display: inline-block;
    position: relative;
}

.form-autocomplete-input {
    border: none;
}

.form-autocomplete-list {
    list-style-type: none;
    border-bottom: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 20px 5px 20px;
    box-sizing: border-box;
    width: 210px;
    background-color: white;
    transition: opacity 0.4s;
    position: absolute;
    top: 20px;
    right: 5px;
}

.form-autocomplete-input span.label-text {
    vertical-align: middle;
}

.form-autocomplete-input .typcn {
    font-size: 30px;
    cursor: pointer;
}

.form-autocomplete-list .form-autocomplete-item {
    cursor: pointer;
}

.form-autocomplete-item:hover {
    color: royalblue;
}
