<div class="autocomplete-container">
    <ul class="form-autocomplete-list" [ngClass]="{ 'opacity-hide': !showingList }">
        <li class="form-autocomplete-item"
            *ngFor="let item of matches" (click)="onSelect(item)">{{item}}
        </li>
    </ul>
    <div class="form-autocomplete">
        <div class="form-autocomplete-input">
            <label>
                <span class="label-text">{{labelText}}</span>
                <span class="typcn typcn-zoom-outline" (click)="emitSelection()"></span>
            </label>
            <input type="text" placeholder="Search" class="animated"
                   [(ngModel)]="searchText" (keyup)="onInput()" (keyup.enter)="emitSelection()"
                   (focus)="setFocused(true)" (blur)="setFocused(false)">
        </div>
    </div>
</div>
