h2, .autocomplete-container {
    margin-left: 10px;
}

.autocomplete-container {
    margin-bottom: 50px;
}

.movie-list-container {
    display: flex;
    flex-wrap: wrap;
}

.movie-tile {
    flex: 0 1 25%;
    margin-bottom: 10px;
}

.movie-tile img {
    width: 250px;
    height: 300px;
    display: block;
    margin: auto;
    cursor: pointer;
    -webkit-transition: transform ease-in 0.2s;
    -moz-transition: transform ease-in 0.2s;
    -ms-transition: transform ease-in 0.2s;
    -o-transition: transform ease-in 0.2s;
    transition: transform ease-in 0.2s;
}

.movie-tile img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.reset {
    cursor: pointer;
}
