<h2>All movies</h2>
<div class="autocomplete-container">
    <autocomplete [labelText]="'Search for a movie: '" [items]="titles"
        (selectionEmitter)="onMovieSearch($event)"></autocomplete>
    <strong><a (click)="resetDisplayedMovies()" class="reset">Reset</a></strong>
</div>
<div class="movie-list-container">
    <div class="movie-tile" *ngFor="let movie of displayedMovies">
        <img [src]="movie.images[0]" alt="movie poster" class="rounded" (click)="navigateToMovie(movie.id)">
    </div>
</div>
