<div class="cinema-container">
    <h2>{{cinema.name}}</h2>
    <span>{{cinema.city}}, co. {{cinema.county}}</span>
    <div class="divider"></div>
    <div class="current-movies">
        <h3>Currently playing</h3>
        <div class="divider"></div>
        <div class="columns">
            <div class="current-movie col-3 col-sm-5"
                *ngFor="let movie of currentMovies">
                <h4 class="movie-title" (click)="navigateToMovie(movie.id)">{{movie.title}}</h4>
                <section>
                    <strong>Rating: </strong>
                    <span class="review-stars">
                        <span class="typcn typcn-star-full-outline" *ngFor="let star of movie.stars"></span>
                        <span class="typcn typcn-star-half-outline" *ngIf="movie.halfStar"></span>
                        <span *ngIf="movie.stars.length === 0">unrated</span>
                    </span>
                </section>
                <div class="poster">
                    <img [src]="movie.images[0]" alt="{{movie.title}} poster" (click)="navigateToMovie(movie.id)">
                </div>
            </div>
        </div>
    </div>
    <div class="future-movies">
        <h3>Coming soon</h3>
        <div class="divider"></div>
        <div class="columns">
            <div class="future-movie col-3 col-sm-5"
                 *ngFor="let movie of futureMovies">
                <h4 class="movie-title" (click)="navigateToMovie(movie.id)">{{movie.title}}</h4>
                <section>
                    <strong>Rating: </strong>
                    <span class="review-stars">
                        <span class="typcn typcn-star-full-outline" *ngFor="let star of movie.stars"></span>
                        <span class="typcn typcn-star-half-outline" *ngIf="movie.halfStar"></span>
                        <span *ngIf="movie.stars.length === 0">unrated</span>
                    </span>
                </section>
                <div class="poster">
                    <img [src]="movie.images[0]" alt="{{movie.title}} poster" (click)="navigateToMovie(movie.id)">
                </div>
            </div>
        </div>
    </div>
</div>
