.cinema-container {
    margin: 10px;
}

.current-movies .columns, .future-movies .columns {
    margin: 0 10px;
}

.movie-title, .poster img {
    position: relative;
    cursor: pointer;
}

.poster {
    width: 150px;
    height: 200px;
    display: block;
    margin: 2px auto;
}

.poster img {
    width: 150px;
    height: 200px;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
}

.poster img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.current-movie, .future-movie {
    text-align: center;
}

.review-stars {
    margin: 2px 0;
}

.review-stars .typcn {
    color: #5764c6;
}
