.movies-container, .cinemas-container {
    margin-bottom: 50px;
}

.movie-tile {
    border: 1px solid black;
    height: 280px;
    cursor: pointer;
    padding: 0;
    -webkit-transition: transform ease-in 0.2s;
    -moz-transition: transform ease-in 0.2s;
    -ms-transition: transform ease-in 0.2s;
    -o-transition: transform ease-in 0.2s;
    transition: transform ease-in 0.2s;
}

.movie-tile:hover {
    box-shadow: 1px 1px 1px #ccc;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.cinema-list {
    list-style-position: inside;
    -webkit-columns: 4;
    -moz-columns: 4;
    columns: 4;
}

.cinema-list li a {
    text-decoration: none;
}

.cinema-list li a:hover {
    border-bottom: 1px dotted dimgrey;
}

.review-container {
    padding-right: 10px;
}

.review-container > div {
    margin: 0;
    padding: 0;
}
