<div class="dashboard-container container">
    <h2>Currently showing</h2>
    <div class="movies-container columns col-gapless">
        <img *ngFor="let movie of movies" class="movie-tile column col-2 col-sm-4 rounded"
             [src]="movie.images[0]" (click)="navigateToMovie(movie.id)">
    </div>
    <div class="divider"></div>
    <h2>Cinemas</h2>
    <div class="cinemas-container">
        <ul class="cinema-list">
            <li *ngFor="let cinema of cinemas">
                <a routerLink="/cinema/{{cinema.id}}">{{cinema.name}}</a>
            </li>
        </ul>
    </div>
    <div class="divider"></div>
    <h2 class="reviews-header">Recent reviews</h2>
    <div class="review-container">
        <div *ngFor="let r of reviews">
            <review [review]="r"></review>
            <div class="divider"></div>
        </div>
    </div>
</div>
