<div class="signup-container modal" [ngClass]="{'active': show}">
    <div class="modal-overlay"></div>
    <div class="modal-container">
        <div class="modal-header">
            <h2>Sign up</h2>
        </div>
        <div class="modal-body">
            <div class="toast toast-danger error-message" [ngClass]="{'display-hide': !showErrorMessage}">
                <button class="btn btn-clear float-right" (click)="hideErrorMessage()"></button>
                <span class="icon icon-error_outline"></span>
                {{errorMessage}}
            </div>
            <form action="#" method="post" class="signup-form" (ngSubmit)="onSubmit()" #signupForm="ngForm">
                <section class="form-group">
                    <label class="form-label" for="name">Full name</label>
                    <input type="text" class="form-input" id="name" name="name" required #fullName="ngModel"
                        [(ngModel)]="model.fullName">
                </section>
                <section class="form-group">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" class="form-input" id="email" name="email" required #email="ngModel"
                        [(ngModel)]="model.email">
                </section>
                <section class="form-group">
                    <label class="form-label" for="username">Username</label>
                    <input type="text" class="form-input" id="username" name="username" required #username="ngModel"
                           [(ngModel)]="model.username">
                </section>
                <section class="form-group">
                    <label class="form-label" for="password1">Password</label>
                    <input type="password" class="form-input" id="password1" name="password1" required #password1="ngModel"
                           [(ngModel)]="model.password1">
                </section>
                <section class="form-group">
                    <label class="form-label" for="password2">Repeat password</label>
                    <input type="password" class="form-input" id="password2" name="password2" required #password2="ngModel"
                           [(ngModel)]="model.password2">
                </section>
                <div class="divider"></div>
                <input type="submit" value="Sign up" class="btn btn-primary">
                <input type="button" value="Cancel" class="btn" (click)="cancel()">
            </form>
        </div>
    </div>
</div>
