<footer>
    <p class="footer-copyright float-right">&copy;2016 Juliusz Karski B00079172</p>
    <p>Created by Juliusz Karski for Rich Web Applications module.
        <br><em>Contact: B00079172@student.itb.ie</em></p>
    <ul class="footer-links">
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
    </ul>
</footer>

