footer {
    background-color: dimgrey;
    color: white;
    font-size: 90%;
    font-weight: lighter;
    margin-top: 50px;
    min-height: 150px;
    box-sizing: border-box;
    padding: 10px;
}

.footer-links li {
    display: inline-block;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links li:not(:last-child)::after {
    content: " | ";
    letter-spacing: 10px;
}

.footer-links a:hover {
    color: white;
    border-bottom: 1px dotted white;
}
