.review {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}

.review .review-info > span {
    display: inline-block;
    margin: 0 10px;
    font-size: 12px;
}

.review-stars .typcn {
    color: #5764c6;
}

.review-title {
    display: block;
    font-size: 14px;
}

.review-title a {
    font-weight: normal;
    font-size: 12px;
}
