<div class="review">
    <section class="review-info">
        <span class="review-movie">Movie: {{review.movie.title}}</span>
        <span class="review-stars">Stars:
            <span class="typcn typcn-star-full-outline" *ngFor="let star of review.stars"></span>
        </span>
        <span class="review-author">
            Review by: {{review.author.username}}
        </span>
    </section>
    <section class="review-text">
        <strong class="review-title">{{review.title}}</strong>
        {{review.body}}<br><a *ngIf="allowEdit" (click)="toggleEditingReview()">Edit review</a>
        <form name="edit-review-form" (ngSubmit)="reviewEdited()" *ngIf="editingReview">
            <section class="form-group">
                <label for="new-title" class="form-label">Review title: </label>
                <input type="text" class="form-input" id="new-title" name="new-title"
                       [(ngModel)]="reviewEditModel.title">
            </section>
            <section class="form-group">
                <label for="new-body" class="form-label">Review body: </label>
                <textarea class="form-input" id="new-body" name="new-body"
                          [(ngModel)]="reviewEditModel.body" rows="7"></textarea>
            </section>
            <section class="form-group">
                <label for="new-rating" class="form-label">Movie rating: </label>
                <select class="form-select" id="new-rating" name="new-rating"
                        [(ngModel)]="reviewEditModel.rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </section>
            <div class="divider"></div>
            <input type="submit" value="Submit" class="btn btn-primary">
            <input type="button" value="Cancel" class="btn" (click)="hideEditingReview()">
        </form>
    </section>
</div>
