<div class="movie-container">
    <h2>{{movie.title}}</h2>
    <section class="movie-details">
        <span class="movie-prop"><strong>Director: </strong>{{movie.director}}</span>
        <span class="movie-prop"><strong>Length: </strong>{{movie.length}} minutes</span>
        <span class="review-stars"><strong>Rating:</strong>
            <span *ngIf="movie.rating === 0">This movie has not been reviewed yet.</span>
            <span class="typcn typcn-star-full-outline" *ngFor="let star of stars"></span>
            <span class="typcn typcn-star-half-outline" *ngIf="halfStar"></span></span>
    </section>
    <div class="divider"></div>
    <div class="posters">
        <img class="poster rounded" *ngFor="let image of movie.images" [src]="image">
    </div>
    <div class="divider"></div>
    <div class="movie-cast">
        <h4>Cast</h4>
        <ul class="cast-list">
            <li *ngFor="let actor of movie.cast">{{actor}}</li>
        </ul>
    </div>
    <div class="divider"></div>
    <h4>Trailer</h4>
    <div class="trailer" *ngIf="trailerUrl">
        <iframe width="560" height="315" frameborder="0" allowfullscreen [src]="trailerUrl"></iframe>
    </div>
    <h2>Reviews</h2>
    <section *ngIf="allowWritingReview">
        <a class="write-review-link" (click)="showWriteReviewModal()">Write a review</a>
    </section>
    <section *ngIf="!allowWritingReview">
        <strong>{{noReviewText}}</strong>
    </section>
    <div class="review-container columns">
        <review *ngFor="let r of reviews" [review]="r" class="col-6 col-sm-12"></review>
    </div>
</div>
<!-- Write a review modal -->
<div class="modal" [ngClass]="{'active': showWriteReview}" *ngIf="allowWritingReview">
    <div class="modal-overlay"></div>
    <div class="modal-container">
        <div class="modal-header"><h4>Write a review</h4></div>
        <div class="modal-body">
            <form action="#" method="post" name="review-form" (ngSubmit)="onSubmit()">
                <section class="form-group">
                    <label class="form-label" for="rating">Rating</label>
                    <select class="form-select" id="rating" name="rating" required
                            [(ngModel)]="reviewModel.rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </section>
                <section class="form-group">
                    <label class="form-label" for="review-title">Review title</label>
                    <input type="text" class="form-input" id="review-title" name="review-title" required
                           [(ngModel)]="reviewModel.title">
                </section>
                <section class="form-group">
                    <label class="form-label" for="review-body">Review body</label>
                    <textarea class="form-input" id="review-body" name="review-body" rows="5" required
                              [(ngModel)]="reviewModel.body"></textarea>
                </section>
                <div class="divider"></div>
                <input type="submit" value="Submit" class="btn btn-primary">
                <input type="button" value="Cancel" class="btn" (click)="hideWriteReviewModal()">
            </form>
        </div>
    </div>
</div>
