.movie-container {
    padding: 10px;
}

.movie-details .movie-prop {
    display: block;
}

.movie-details .movie-prop strong {
    width: 100%;
}

.posters .poster {
    display: inline-block;
    flex: 1;
    border: 1px solid dimgrey;
    margin: 0 20px;
    width: 150px;
    height: 200px;
    cursor: pointer;
}

.cast-list {
    list-style-type: none;
}

.trailer {
    margin: 10px;
}

.trailer iframe {
    border: 1px solid dimgray;
}

.write-review-link {
    font-size: 18px;
    margin: 5px 0;
    text-decoration: none;
}

.modal-container, .modal-body {
    max-height: none;
}
