<div class="profile-container columns">
    <div class="float-left user-info col-4 col-sm-12">
        <h2 class="username">{{user.username}}</h2>
        <div class="profile-picture-container">
            <img [src]="user.profilePicture" alt="your profile picture" class="circle profile-picture">
        </div>
        <section class="details">
            <h5 class="details-header">Personal details</h5>
            <span class="details-prop"><strong>Name: </strong>{{user.fullName}}<br></span>
            <span class="details-prop"><strong>Email: </strong>{{user.email}}<br></span>
            <input type="button" value="Edit" class="btn btn-primary" (click)="onEditClick()">
        </section>
    </div>
    <div class="reviews-container col-8 col-sm-12">
        <h3>Your reviews</h3>
        <div *ngFor="let r of reviews">
            <review [review]="r" [allowEdit]="true"></review>
            <div class="divider"></div>
        </div>
    </div>
    <!-- Password modal -->
    <div class="password-prompt modal modal-sm" [ngClass]="{'active': passwordModalVisible}">
        <div class="modal-overlay"></div>
        <div class="modal-container">
            <div class="modal-header"><h4>Confirm password</h4></div>
            <div class="modal-body">
                <div class="toast toast-danger" *ngIf="passwordErrorVisible">
                    <button class="btn btn-clear float-right" (click)="hidePasswordError()"></button>
                    <span class="icon icon-error_outline"></span>
                    {{passwordErrorMessage}}
                </div>
                <form action="#" method="post" (ngSubmit)="onPasswordSubmit(password.value)">
                    <section class="form-group">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" class="form-input" id="password" name="password" required #password>
                    </section>
                    <div class="divider"></div>
                    <input type="submit" value="Confirm" class="btn btn-primary">
                    <input type="button" value="Cancel" class="btn" (click)="hidePasswordModal()">
                </form>
            </div>
        </div>
    </div>
    <!-- Edit profile modal -->
    <div class="edit-profile-container modal" [ngClass]="{'active': editModalVisible}">
        <div class="modal-overlay"></div>
        <div class="modal-container">
            <div class="modal-header"><h4>Edit profile</h4></div>
            <div class="modal-body">
                <div class="toast toast-danger" *ngIf="editErrorVisible">
                    <button class="btn btn-clear float-right" (click)="hideEditError()"></button>
                    <span class="icon icon-error_outline"></span>
                    {{editErrorMessage}}
                </div>
                <form action="#" method="post" (ngSubmit)="onEditSubmit()">
                    <section class="form-group">
                        <label class="form-label" for="fullName">Full Name</label>
                        <input type="text" class="form-input" id="fullName" name="fullName"
                               [(ngModel)]="editUserModel.fullName">
                    </section>
                    <section class="form-group">
                        <label class="form-label" for="username">New Username</label>
                        <input type="text" class="form-input" id="username" name="edit-username"
                               [(ngModel)]="editUserModel.username">
                    </section>
                    <section class="form-group">
                        <label class="form-label" for="new-password1">New password</label>
                        <input type="password" class="form-input" id="new-password1" name="new-password1"
                               [(ngModel)]="editUserModel.newPassword1">
                    </section>
                    <section class="form-group">
                        <label class="form-label" for="new-password2">Repeat new password</label>
                        <input type="password" class="form-input" id="new-password2" name="new-password2"
                               [(ngModel)]="editUserModel.newPassword2">
                    </section>
                    <div class="divider"></div>
                    <input type="submit" value="Save changes" class="btn btn-primary">
                    <input type="button" value="Cancel" class="btn" (click)="hideEditModal()">
                </form>
            </div>
        </div>
    </div>
</div>
