.profile-picture {
    background-color: #30ae40;
    height: 100px;
}

.profile-container {
    margin: 10px;
    overflow: auto;
}

.profile-picture {
    width: 100px;
    border: 1px solid dimgrey;
}

.details-header {
    text-decoration: underline;
}

.details-prop {
    margin: 5px 0;
    display: block;
}

.details-prop:last-of-type {
    margin-bottom: 20px;
}

.details-prop strong {
    width: 100px;
    display: inline-block;
}

.edit-profile-container .modal-container {
    max-height: none;
}

.review-container > div {
    margin: 0;
    padding: 0;
}
