<div class="cinema-list-container">
    <sebm-google-map [latitude]="irelandCoords.lat" [longitude]="irelandCoords.lng" [zoom]="defaultMapZoom">
        <sebm-google-map-marker *ngFor="let cinema of cinemas"
            [latitude]="cinema.coords.lat" [longitude]="cinema.coords.lng">
            <sebm-google-map-info-window>
                <strong><a (click)="navigateToCinema(cinema.id)">{{cinema.name}}</a></strong><br><em>{{cinema.city}},
                co. {{cinema.county}}</em>
            </sebm-google-map-info-window>
        </sebm-google-map-marker>
    </sebm-google-map>
</div>
