.main {
    width: 80%;
    margin: 70px auto 0 auto;
    background-color: white;
    z-index: 1;
}

.message {
    width: 90%;
    left: 5%;
    position: fixed;
    top: 5px;
    cursor: pointer;
    z-index: 3;
}
