<navigation></navigation>
<div class="main">
<div *ngIf="messageService.showingMessage" class=" message toast" (click)="messageService.clearMessage()"
     [ngClass]="{'toast-primary': messageService.messageStyle === messageStyles.PRIMARY, 'toast-success': messageService.messageStyle === messageStyles.SUCCESS, 'toast-danger': messageService.messageStyle === messageStyles.DANGER}">
    {{messageService.message}}
</div>
<router-outlet></router-outlet>
</div>
<footer-component></footer-component>
