<div class="login-container modal" [ngClass]="{'active': show}">
    <div class="modal-overlay"></div>
    <div class="modal-container">
        <div class="modal-header"><h3>Log in</h3></div>
        <div class="modal-body">
            <div class="toast toast-danger error-message" [ngClass]="{'display-hide': !showErrorMessage}">
                <button class="btn btn-clear float-right" (click)="hideErrorMessage()"></button>
                <span class="icon icon-error_outline"></span>
                    {{errorMessage}}
            </div>
            <form action="#" method="post" (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <section class="form-group">
                    <label class="form-label" for="username">Username</label>
                    <input type="text" class="form-input" id="username" name="username" [(ngModel)]="model.username"
                        #username="ngModel">
                </section>
                <span class="or">OR</span>
                <section class="form-group">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" class="form-input" id="email" name="email" [(ngModel)]="model.email"
                           #email="ngModel">
                </section>
                <section class="form-group">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" class="form-input" id="password" name="password" required
                           [(ngModel)]="model.password" #password="ngModel">
                </section>
                <div class="divider"></div>
                <input type="submit" value="Log in" class="btn btn-primary">
                <input type="button" value="Cancel" class="btn" (click)="cancel()">
            </form>
        </div>
    </div>
</div>
