.navbar {
    background-color: white;
    -moz-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navbar ul {
    overflow-x: visible; /* override spectre.css */
    margin: 0;
}

.navbar a.nav-link {
    cursor: pointer;
}

.profile-tab {
    cursor: pointer;
}

.profile-menu {
    position: absolute;
    top: 32px;
}
