<nav class="navbar">
    <ul class="tab tab-block">
        <li class="tab-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Home</a>
        </li>
        <li class="tab-item">
            <a class="nav-link" routerLink="/movie-list" routerLinkActive="active">Movies</a>
        </li>
        <li class="tab-item">
            <a class="nav-link" routerLink="/cinema-list" routerLinkActive="active">Cinemas</a>
        </li>
        <li class="tab-item" *ngIf="!loginService.isUserLoggedIn()">
            <a class="nav-link" (click)="showLogin()">Log in</a>
        </li>
        <li class="tab-item" *ngIf="!loginService.isUserLoggedIn()">
            <a class="nav-link" (click)="showSignup()">Sign up</a>
        </li>
        <li class="tab-item autocomplete-tab">
            <autocomplete [labelText]="searchLabelText" [getter]="countyGetter"
                (selectionEmitter)="onAutocompleteEmit($event)"></autocomplete>
        </li>
        <li class="tab-item profile-tab" *ngIf="loginService.isUserLoggedIn()"
            (mouseout)="hideProfileMenu()" (mouseover)="showProfileMenu()">
            <figure class="avatar avatar-l">
                <img [src]="loginService.getLoggedInUser().profilePicture" alt="your profile picture">
            </figure>
            <ul class="menu profile-menu" [ngClass]="{'display-hide': !showingProfileMenu}">
                <li class="menu-header">
                    <span class="menu-header-text">{{loginService.getLoggedInUser().username}}</span>
                </li>
                <li class="menu-item">
                    <a routerLink="/profile" routerLinkActive="active">View profile</a>
                </li>
                <li class="menu-item">
                    <a (click)="signOut()">Sign out</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<login [show]="showingLogin" (emitter)="onLoginEmit($event)"></login>
<signup [show]="showingSignup" (emitter)="onSignupEmit($event)"></signup>
